:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #E2E5F3;
  background-color: #131200;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #29618E;
  color: #E2E5F3;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 20px 0;
}
button:hover {
  border-color: #EDDEA4;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 0.6em;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  background-color: #204C6F;
  color: #E2E5F3;
  cursor: pointer;
  transition: border-color 0.25s;
}
input::placeholder{
  color: #90BCDF;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #131200;
    background-color: #BBC2E2;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #EDDEA4;
  }
}

div{
  background-color: #17364F;
  padding: 3% 5%;
  border-radius: 20px;
  display: flex;
  width: 75%;
}
